
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #f8f8f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(0, 0, 0);
}
.App-footer{
  background-color:#333;
  color:white;

}

.App-link {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s ease;
}

.App-link:hover {
  color: #3d8eb9;
}


.carteProfile {
  background-color: #f5f5f5;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  max-width: 1000px;
  max-height: 700px;
}


.titre-reseaux {
  background-color: #548bb2;
  color: #f1f0f1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.titre-développement {
  background-color: #786a6b;
  color: #f1f0f1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}


.mySlides {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
/*FAQ*/
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: background-color 0.3s ease;
  display: flex; /* Add display flex */
  align-items: center; /* Center the content vertically */
}

.collapsible:hover {
  background-color: #555;
}

.collapsible.active {
  background-color: #555;
}

.collapsible::after {
  content: '\002B';
  color: white;
  font-weight: bold;
  margin-left: auto; /* Push the icon to the right */
}

.collapsible.active::after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #f1f1f1;
  width: 100%;
  box-sizing: border-box;
}

.content p {
  margin: 0;
}

.content.active {
  max-height: 1000px; /* Adjust the value as needed */
  transition: max-height 0.3s ease-in;
}
