/* styles.css   background-color: purple;*/
.stage-list {
  list-style-type: none;
  padding: 1;
  flex-wrap: wrap;
  align-content: center;
  font-size: 18px;  


}

.stage-solo {
  font-size: 18px;
  justify-content: center;
  padding: 10;
  background-color: #dbdbdb;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 15px 0px;

  
}

.stage-solo .card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.stage-solo .card-content {
  margin-bottom: 10px;
}

.stage-solo .card-actions {
  display: flex;
  justify-content: center;
}

.stage-solo .card-actions .ButtonList {
  margin-right: 10px;
}

.ButtonList {
  text-align: center;
  font: inherit;
  padding: 1px;
  border: none;
  border-radius: 6px;
  background-color: #3d6d6d;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.ButtonList:focus {
  outline: none;
}

.ButtonList:hover,
.ButtonList:active {
  background-color: #2e4f4f9d;
  color: #fff;
}

.ButtonList--inverse:hover,
.ButtonList--inverse:active {
  color: #fff;
  background-color: #2e4f4f9d;
}

.ButtonList:disabled,
.ButtonList:hover:disabled,
.ButtonList:active:disabled {
  background-color: #ccc;
  color: #979797;
  cursor: not-allowed;
}

.ButtonList--small {
  font-size: 0.8rem;
  padding: 0.5rem;
}

.ButtonList--big {
  font-size: 1.5rem;
  padding: 1.5rem;
}
